<h4> 1. Import necessary libraries <h4>

In [1]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
#variables 
url = 'https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'
table_attribs = ['Country','GDP_USD_millions']

<h4> 2. Extract functions <h4>

In [28]:
page = requests.get(url).text #turn this into string
data = BeautifulSoup(page, 'html.parser')
df = pd.DataFrame(columns=table_attribs)
tables = data.find_all('tbody') #tbody means the tables in web content under BeautifulSoup instance
rows = tables[2].find_all('tr') #we find the 3rd tbody (table) is the one we need
for row in rows:
    col = row.find_all('td')
    if len(col) !=0:
        if col[0].find('a') is not None and '—' not in col[2]:
            data_dict ={"Country": col[0].a.contents[0],
            "GDP_USD_millions": col[2].contents[0]
            }
            df1 = pd.DataFrame(data_dict, index=[0])
            df = pd.concat([df, df1], ignore_index = True)
df

              Country GDP_USD_millions
0       United States       26,854,599
1               China       19,373,586
2               Japan        4,409,738
3             Germany        4,308,854
4               India        3,736,882
..                ...              ...
186  Marshall Islands              291
187             Palau              262
188          Kiribati              248
189             Nauru              151
190            Tuvalu               65

[191 rows x 2 columns]

In [18]:
for row in rows:
    col = row.find_all('td')
    if len(col) !=0:
        if col[0].find('a') is not None and '—' not in col[2]:
            print(col[0].a.contents)
            print(col[2].contents)

['United States']
['26,854,599']
['China']
['19,373,586']
['Japan']
['4,409,738']
['Germany']
['4,308,854']
['India']
['3,736,882']
['United Kingdom']
['3,158,938']
['France']
['2,923,489']
['Italy']
['2,169,745']
['Canada']
['2,089,672']
['Brazil']
['2,081,235']
['Russia']
['2,062,649']
['South Korea']
['1,721,909']
['Australia']
['1,707,548']
['Mexico']
['1,663,164']
['Spain']
['1,492,432']
['Indonesia']
['1,391,778']
['Netherlands']
['1,080,880']
['Saudi Arabia']
['1,061,902']
['Turkey']
['1,029,303']
['Switzerland']
['869,601']
['Taiwan']
['790,728']
['Poland']
['748,887']
['Argentina']
['641,102']
['Belgium']
['624,248']
['Sweden']
['599,052']
['Ireland']
['594,095']
['Thailand']
['574,231']
['Norway']
['554,105']
['Israel']
['539,223']
['Singapore']
['515,548']
['Austria']
['515,199']
['Nigeria']
['506,601']
['United Arab Emirates']
['498,978']
['Vietnam']
['449,094']
['Malaysia']
['447,026']
['Philippines']
['440,901']
['Bangladesh']
['420,516']
['Denmark']
['405,626']
['South Africa']
['399,015']
['Hong Kong']
['382,854']
['Egypt']
['378,110']
['Iran']
['367,970']
['Chile']
['358,557']
['Romania']
['348,902']
['Colombia']
['334,689']
['Czech Republic']
['330,483']
['Finland']
['301,670']
['Peru']
['268,235']
['Iraq']
['267,893']
['Portugal']
['267,721']
['New Zealand']
['251,969']
['Kazakhstan']
['245,695']
['Greece']
['239,300']
['Qatar']
['219,570']
['Algeria']
['206,007']
['Hungary']
['188,505']
['Kuwait']
['164,713']
['Ethiopia']
['156,083']
['Ukraine']
['148,712']
['Morocco']
['138,781']
['Slovakia']
['127,533']
['Ecuador']
['121,291']
['Dominican Republic']
['121,289']
['Puerto Rico']
['120,838']
['Kenya']
['118,130']
['Angola']
['117,877']
['Oman']
['104,902']
['Guatemala']
['102,309']
['Bulgaria']
['100,635']
['Venezuela']
['96,628']
['Uzbekistan']
['92,332']
['Luxembourg']
['86,971']
['Tanzania']
['85,421']
['Turkmenistan']
['82,649']
['Croatia']
['78,881']
['Lithuania']
['78,346']
['Costa Rica']
['77,777']
['Uruguay']
['77,313']
['Panama']
['77,257']
['Ivory Coast']
['77,047']
['Serbia']
['73,961']
['Belarus']
['73,543']
['Azerbaijan']
['70,030']
['DR Congo']
['69,474']
['Slovenia']
['68,108']
['Ghana']
['66,622']
['Myanmar']
['63,988']
['Jordan']
['52,061']
['Tunisia']
['49,815']
['Uganda']
['49,792']
['Cameroon']
['48,625']
['Latvia']
['47,398']
['Sudan']
['46,705']
['Libya']
['46,297']
['Bolivia']
['46,097']
['Bahrain']
['44,870']
['Paraguay']
['42,820']
['Nepal']
['42,097']
['Estonia']
['41,551']
['Macau']
['35,841']
['El Salvador']
['33,752']
['Honduras']
['32,860']
['Papua New Guinea']
['31,362']
['Senegal']
['31,221']
['Cyprus']
['30,864']
['Cambodia']
['30,628']
['Zimbabwe']
['29,931']
['Zambia']
['29,272']
['Iceland']
['28,625']
['Bosnia and Herzegovina']
['28,488']
['Trinidad and Tobago']
['28,223']
['Georgia']
['27,947']
['Haiti']
['26,580']
['Armenia']
['23,725']
['Guinea']
['23,330']
['Burkina Faso']
['21,076']
['Mali']
['20,776']
['Gabon']
['20,330']
['Albania']
['20,177']
['Mozambique']
['19,909']
['Palestine']
['19,206']
['Botswana']
['19,572']
['Yemen']
['19,529']
['Malta']
['19,405']
['Benin']
['19,236']
['Nicaragua']
['17,287']
['Jamaica']
['17,254']
['Mongolia']
['16,908']
['Niger']
['16,617']
['Guyana']
['16,309']
['Brunei']
['15,988']
['Madagascar']
['15,969']
['Moldova']
['15,829']
['North Macedonia']
['15,278']
['Equatorial Guinea']
['15,099']
['Mauritius']
['14,570']
['Bahamas']
['14,114']
['Laos']
['14,091']
['Namibia']
['13,486']
['Rwanda']
['13,149']
['Congo']
['13,031']
['Tajikistan']
['12,796']
['Kyrgyzstan']
['12,309']
['Chad']
['11,962']
['Malawi']
['11,277']
['Mauritania']
['10,966']
['Kosovo']
['9,990']
['Togo']
['9,001']
['Somalia']
['8,738']
['Montenegro']
['7,027']
['South Sudan']
['7,012']
['Maldives']
['7,004']
['Barbados']
['6,117']
['Fiji']
['5,385']
['Eswatini']
['4,824']
['Liberia']
['4,375']
['Djibouti']
['3,916']
['Andorra']
['3,669']
['Aruba']
['3,633']
['Sierra Leone']
['3,520']
['Suriname']
['3,470']
['Burundi']
['3,234']
['Belize']
['3,162']
['Central African Republic']
['2,736']
['Bhutan']
['2,683']
['Eritrea']
['2,666']
['Lesotho']
['2,584']
['Cape Verde']
['2,468']
['Gambia']
['2,277']
['Saint Lucia']
['2,262']
['East Timor']
['1,988']
['Seychelles']
['1,950']
['Guinea-Bissau']
['1,887']
['Antigua and Barbuda']
['1,864']
['San Marino']
['1,807']
['Solomon Islands']
['1,701']
['Comoros']
['1,348']
['Grenada']
['1,274']
['Vanuatu']
['1,064']
['Saint Kitts and Nevis']
['1,052']
['Saint Vincent and the Grenadines']
['1,039']
['Samoa']
['898']
['Dominica']
['681']
['São Tomé and Príncipe']
['625']
['Tonga']
['541']
['Micronesia']
['456']
['Marshall Islands']
['291']
['Palau']
['262']
['Kiribati']
['248']
['Nauru']
['151']
['Tuvalu']
['65']